.image-Lazy{
    width: 340px;
}


.animate-image{
    animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}